nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Hapi Prototype
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href='/'): i.fa.fa-home &nbsp; Home
        if email
          form.navbar-form.navbar-left(method='post', action='/logout')
            button.logoutbutton.btn(type='submit'): i.fa.fa-home &nbsp; Logout
          //- li: button.btn.btn-default: i.fa.fa-sign-out Logout
        else
          li: a(href='/login'): i.fa.fa-home &nbsp; Login
          li: a(href='/register'): i.fa.fa-home &nbsp; Register
        li: a(href='#')= email || 'Anonymous'